.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 200ms;
  font-size: medium;
  &:hover{
    transform: scale(1.03);
    filter: brightness(1.1);
  }
}