.toast{
  width: 24rem;
  border: 1px solid black;
  border-radius: .6rem;
  overflow: hidden;
  transition: ease-in-out;
  transition-duration: 200ms;
  margin-right: 2rem;
  @media(max-width: 600px){
    width: 20rem;
  }
  &:hover{
    cursor: pointer;
    transform: scale(1.03);
    filter: brightness(1.1);
  }
  div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    p{
      font-size: small;
    }
    button{
      margin: 0rem .3rem 0px .7rem;
      cursor: pointer;
      transition: ease-in-out;
      transition-duration: 100ms;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  div:nth-child(2){
    padding: .8rem .5rem ;
  }
}