.toast{
  width: 24rem;
  border: 1px solid black;
  border-radius: .6rem;

  div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    border-bottom: 1px solid black;
    p{
      font-size: small;
    }
    button{
      margin: 0rem .3rem 0px .7rem;
      cursor: pointer;
      transition: ease-in-out;
      transition-duration: 100ms;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  div:nth-child(2){
    padding: .8rem .5rem ;
  }
}